/*
|---------------------------------------|
|                   Main.scss           |
|_______________________________________|
*/
@import 'https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade';
@-webkit-keyframes dancingshadow {
  0% {
    text-shadow: #246dad -6px -4px 0px; }
  /* BLUE */
  12.5% {
    text-shadow: #3b7b86 -4px -8px 0px; }
  /* half way */
  25% {
    text-shadow: #52885f 0px -10px 0px; }
  /* GREEN */
  37.5% {
    text-shadow: #3b7b86 4px -8px 0px; }
  /* half way */
  50% {
    text-shadow: #246dad 6px -4px 0px; }
  /* BLUE */
  62.5% {
    text-shadow: #70588c 4px 0px 0px; }
  /* half way */
  75% {
    text-shadow: #bb426a 0px 2px 0px; }
  /* PINK */
  87.5% {
    text-shadow: #70588c -4px 0px 0px; }
  /* half way */
  100% {
    text-shadow: #246dad -6px -4px 0px; }
  /* BLUE */ }

@keyframes dancingshadow {
  0% {
    text-shadow: #246dad -6px -4px 0px; }
  /* BLUE */
  12.5% {
    text-shadow: #3b7b86 -4px -8px 0px; }
  /* half way */
  25% {
    text-shadow: #52885f 0px -10px 0px; }
  /* GREEN */
  37.5% {
    text-shadow: #3b7b86 4px -8px 0px; }
  /* half way */
  50% {
    text-shadow: #246dad 6px -4px 0px; }
  /* BLUE */
  62.5% {
    text-shadow: #70588c 4px 0px 0px; }
  /* half way */
  75% {
    text-shadow: #bb426a 0px 2px 0px; }
  /* PINK */
  87.5% {
    text-shadow: #70588c -4px 0px 0px; }
  /* half way */
  100% {
    text-shadow: #246dad -6px -4px 0px; }
  /* BLUE */ }

.titles__primary {
  -webkit-animation-name: dancingshadow;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-name: dancingshadow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal; }

/*
rgb(81, 55, 151);    purple
rgb(187, 66, 106);   pink
rgb(82, 136, 95);    green
rgb(36, 109, 173);/* BLUE *

*/
html {
  font-size: 16px;
  font-family: 'Bungee', cursive; }

body {
  margin: 0;
  background: #2b2527; }

.wrapper {
  max-width: 32rem;
  margin: 7rem auto 3rem; }

/* Titles block   */
.titles {
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 5rem; }

.titles__primary {
  margin: 0;
  font-family: 'Bungee Shade', cursive;
  font-weight: normal;
  font-size: 6em;
  color: #513797;
  text-shadow: #246dad -6px -4px 0px; }

.titles__secondary {
  font-size: 3.5em;
  word-spacing: 1rem;
  letter-spacing: 2px;
  margin: 0.75rem auto;
  color: #bb426a;
  /* pink */
  text-shadow: #ab206a 0px -1px 6px; }

@media (max-width: 768px) {
  .titles {
    font-size: 0.7rem; } }

.section {
  margin-bottom: 4rem; }

@media (max-width: 768px) {
  .section {
    margin-left: 15%;
    margin-right: 15%; } }

.section--bigfont {
  font-size: 1.75rem; }

@media (max-width: 768px) {
  .section--bigfont {
    font-size: 1.25rem; } }

/* subheading block */
/*.section__heading {
  text-align: center;
  margin: 0 0 1.25rem;

  font-size: 1.75em;
  text-transform: uppercase;

  color: rgb(36, 109, 173);
  text-shadow: rgb(32, 80, 121) -4px 0px 0px;
}*/
.section__subheading {
  margin: 0 -1rem;
  -ms-transform: rotate(-10deg);
  /* IE 9 */
  -webkit-transform: rotate(-10deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-10deg);
  font-size: 1.5em;
  font-family: 'Bungee Shade', cursive;
  color: #ae9e9e;
  text-shadow: #b5b7bd -21px -5px 0px;
  /* light colours */
  color: #246dad;
  /* blue */
  text-shadow: -21px -5px 0px #52885f;
  /*  green */ }

/* list block*/
.list {
  margin: 1.5rem 0 2rem;
  padding: 0;
  list-style-type: none;
  color: #513797;
  /* Purple */ }

@media (max-width: 768px) {
  .list {
    margin: 1rem -1.5rem 2rem; } }

.list__item {
  display: inline;
  background-color: #ddd5d1;
  padding: 0 0.1rem;
  word-spacing: 17px;
  letter-spacing: -0.5px; }

.list__item:hover {
  background-color: #bb426a; }

/* anchor block */
.anchor:link {
  color: #513797; }

.anchor:visited {
  color: #513797;
  text-decoration: line-through; }

.anchor:hover {
  color: #efeeee; }

.anchor:active {
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 3px;
  word-spacing: 8px; }

span {
  color: #444; }

/* SOCIAL icons block */
.social-icons {
  display: table;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around; }

.social-icons__icon {
  display: table-cell; }

.social-icons__img-link {
  display: block;
  margin: auto;
  max-width: 50px; }

.social-icons__img {
  border-radius: 50%;
  max-width: 50px; }

@media (max-width: 768px) {
  .social-icons__img {
    max-width: 40px; } }

.social-icons__label {
  font-size: 1.5em;
  margin: -0.5rem 0.5rem;
  color: #bb426a;
  text-shadow: #ab206a 0px -1px 6px;
  display: block; }
