@import 'https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Lato';

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  background: rgb(43, 37, 39);
}

.wrapper {
  max-width: 32rem;
  margin: 7rem auto 3rem;
}

/* Titles block   */

.titles {
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 5rem;
}

.titles__name {
  font-family: 'Bungee Shade', cursive;
  font-weight: normal;
  font-size: 6em;

  color: rgb(81, 55, 151);
  text-shadow: rgb(36, 109, 173) -6px -4px 0px;

  margin: 0;
}

.titles__job-title {
  font-family: 'Bungee', cursive;
  font-size: 3.5em;
  word-spacing: 1rem;
  letter-spacing: 2px;
  margin-bottom: 0;

  color: rgb(82, 136, 95);
  text-shadow: rgb(255, 255, 255) 0px -1px 4px;
}

@media (max-width: 768px) {
  .titles {
    font-size: 0.7rem;
  }
}

.section {
  margin-bottom: 4rem;
}

/* subheading block */

.subheading {
  font-size: 2rem;
  text-transform: capitalize;

  text-align: center;

  color: rgb(177, 170, 110);
  margin: 1rem;
}

/* Portfolio Section */

.portfolio {
  font-size: 1.2rem;
}

/* list block*/

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list__li {
  background-color: rgb(23, 22, 22);
  box-shadow: rgb(144, 50, 50) -3px 3px 0px, 
              rgb(57, 57, 171) 3px -3px 0px;

  border-radius: 3px;
  line-height: 2rem;
  margin-bottom: 1.25rem;
  padding: 0 1rem;
}


/* anchor block */
.anchor:link {
  color: rgb(206, 173, 158);
}
.anchor:visited {
  color: rgb(111, 66, 45);
}
.anchor:hover {
  color: rgb(239, 210, 197);
}
.anchor:active {
  text-decoration: none;
}

span {
  color: #444;
}

/* SOCIAL icons block */

.social-icons {
  display: table;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.social-icons__icon {
  display: table-cell;
}

.social-icons__link {
  display: block;
  margin: auto;
  max-width: 50px;
}

.social-icons__img {
  border-radius: 50%;
  max-width: 50px;
  
}
@media (max-width: 768px) {
  .social-icons__img {
    max-width: 40px;
  }
}
