html {
  font-size: 16px;
  font-family: $primary-font;
  border-left: solid 1.25rem $pink;
  border-right: solid 1.25rem $pink;
}

@media (max-width: 48rem) {
  html {
    border: none;
  }
}

body {
  margin: 0;
  background: $black;
}

.wrapper {
  max-width: 52rem;
  margin: 7rem auto 10rem;
}

@media (min-width: $x-large) {
  .wrapper {
    max-width: 72rem;
    margin: 12rem auto 10rem;
  }
}

@media (max-width: $small) {
  .wrapper {
    padding: 0 1rem;
  }
}

.wrapper--project {
    margin-top: 4rem;
}
