/********************************************
   Individual Slide Styles
********************************************/

/**********
 * SLIDE 1
 **********/

#slide-1 .hsContainer {
  padding-top: 5%;
}

    #mainlogoframe {
      margin-top: 130px;
    }

    #mainlogo {
      max-width:100%;
    }
    h1 {
      font-size: 6em;
      margin-bottom: 0;
      margin-top: 140px;
      text-align: left;
    }

    

    #slogan {
      font-size:2em;
      padding:0;
      margin: 0 0 80px;
      margin-top:-30px;
      text-align: left;
    }
    h3 {
      margin:0;
      font-size: 3em;
      text-align: left;
      padding-top: 10px;
    }

/**********
 * SLIDE 2
 **********/

#slide-2row1 {
  padding-top: 60px;
}

.header2 {
  font-size: 4em;
  margin-top: 0;
}
.minilogoframe {
  margin-top: 25px;
}
#problemframe {
  font-size: 1.2em;
}
#solutionframe {
  font-size: 1.2em;
  margin-top: 0px;
}


/**********
 * SLIDE 3
 **********/

#slide-3 .hsContent {
  padding-top: 100px;
}

.phonebox:hover {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
        }

#slide-3 p {
  font-size: 1.4em;
}
#lastphonebox p {
  font-size: 1.5em;
}
/**********
 * SLIDE 4
 **********/

#slide-4 .hsContent {
  padding-top: 90px;
  text-align: center;
}
.lastheader {
  font-size: 2.2em;
}

/*
 * Thankyou message
 */
#thankyoumessage {
    padding: 10px;
  }


/**********
 Media Queries
 **********/

/*
 * SLIDE 1
 */

@media only screen and (min-width: 850px) {
  #slogan {
    margin-top:-40px;
  }
}

@media only screen and (min-width: 900px) {
  #slogan {
    margin-top:-50px;
  }
}

@media only screen and (min-width: 950px) {
  #slogan {
    margin-top:-60px;
  }
}








