.error {
    max-width: 40rem;
    margin: 5rem auto;
    padding: 0 1rem;
    text-align: center;
}
.error__title {
    color: $errorColour;
    text-transform: uppercase;
    font-size: 2.4rem;
    &.error__title--accent {
        display: block;
        color: #545454;
        text-transform: capitalize;
    }
}
.error__redirect {
    display: inline-block;
    margin: 2rem auto;
    padding: 1rem 2.5rem;
    
    background-color: #545454;
    border-radius: 3px;

    line-height: 1.5;
    color: $errorColour;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.25rem;
    border: solid 1px $errorColour;
    
    &:visited {
        color: $errorColour;
    }
    &:hover {
        padding: 1.025rem 2.625rem;
        box-shadow: 
            0 10px 10px -7px rgba(0, 0, 0, 0.5);
    }
    &:active {
        box-shadow: none;
        padding: 1rem 2.5rem;
    }
}
