/* anchor block */
.anchor {
  display: block;
  background-color: $white;
  letter-spacing: 3px;
  padding: 0 0.1rem;
  word-spacing: 1rem;
}
.anchor:link {
  color: $purple;
}
.anchor:visited {
  color: $purple;
  text-decoration: line-through;
}
.anchor:hover {
  color: $pink;
}
.anchor:active {
  text-decoration: none;
}

span {
  color: #444;
}
