/* anchor block */
.anchor {
  display: block;
  letter-spacing: 1px;
  padding: 0.5rem;
  word-spacing: 0.25rem;
  box-shadow: 0 5px 25px -7px $blackShadow;
  transition: all 0.1s;
}
.anchor, .anchor:link {
  color: $white;
  background-color: $pink;
  text-decoration: none;
}
.anchor:visited {
  color: $white;
  background-color: $pink;
}
.anchor:hover {
  color: $purple;
  background-color: $white;
  text-decoration: underline;
}
.anchor:active {
  text-decoration: line-through;
  color: $pink;
  background-color: $white;
}
    .anchor--floating {
      text-align: center;
      display: inline-block;
      font-size: 1.25rem;
      letter-spacing: 0.5px;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .anchor--floating:link,
    .anchor--floating:visited {
      background-color: $white;
      color: $blue;
    }
    .anchor--pdf:link,
    .anchor--pdf:visited {
      color: $orange;
    }
