/* anchor block */
.anchor {
  display: block;
  letter-spacing: 1px;
  padding: 0.5rem;
  word-spacing: 0.25rem;
}
.anchor:link {
  color: $white;
  background-color: $pink;
  text-decoration: none;
}
.anchor:visited {
  color: $white;
  background-color: $purple;
}
.anchor:hover {
  // color: $white;
  // background-color: $pink;
  color: $purple;
  background-color: $white;
  text-decoration: underline;
}
.anchor:active {
  text-decoration: line-through;
  color: $pink;
  background-color: $white;
}

span {
  color: #444;
}
