/* SOCIAL icons block */

.social-icons {
  display: table;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.social-icons__icon {
  display: table-cell;
}

.social-icons__link {
  display: block;
  margin: auto;
  text-decoration: none;
}

.social-icons__img {
  display: block;
  margin: auto;
  border-radius: 50%;
  max-width: 50px;
}
@media (max-width: 48rem) {
  .social-icons__img {
    max-width: 40px;
  }
}

.social-icons__label {
  font-size: 1.5em;
  font-family: $primary-font;
  margin: -0rem 0.5rem;
  color: rgb(187, 66, 106);
  text-shadow: rgb(171, 32, 106) 0px -1px 6px;
  display: block;
}

// FONTELLO Icon styles

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?80457761');
  src: url('../font/fontello.eot?80457761#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?80457761') format('woff2'),
       url('../font/fontello.woff?80457761') format('woff'),
       url('../font/fontello.ttf?80457761') format('truetype'),
       url('../font/fontello.svg?80457761#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  speak: none;

  color: $pink;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
