/* Images block */

.img {
  display: block;
  max-width: 100%;
}
.img--hero {
  border-radius: 46%;
  max-width: 50%;
  margin: auto;
  -webkit-filter: opacity(40%);
  filter: opacity(40%);
}
@media (max-width: $small) {
  .img--hero{
    max-width: 65%;
  }
}
@media (min-width: $x-large) {
  .img--hero{
    max-width: 20rem;
  }
}

  .img__link {
    text-decoration: none;
    display: block;
  }
