.label__wrapper {
  margin: 0rem 0rem 1.25rem;
}
@media (max-width: 48rem) {
  .label__wrapper {
    margin: 0.5rem 0rem 1rem;
  }
}

.label {
  font-size: 1rem;
  background-color: $white;
  color: $black;
  padding: 0.35rem 1rem;
  border-radius: 0.25rem;
  cursor: default;
}
@media (max-width: 48rem) {
  .label {
    display: table;
    margin: 0.5rem 0;
  }
}
    .label--floating {
      margin: .1rem;
      display: inline-block;
    }
    .label--doc {
      background-color: $blue;
      color: $white;
    }
    .label--pdf {
      background-color: $orange;
      color: $white;
    }
