/* list block*/

.list {
  margin: 1.5rem 0 2rem;
  padding: 0;
  list-style-type: none;
  color: $purple; /* Purple */
}

.list__item {
  display: block;
  margin-bottom: 4rem;
}
    .list__item--centered {
      text-align: center;
    }
