/* list block*/

.list {
  margin: 1.5rem 0 2rem;
  padding: 0;
  list-style-type: none;
  color: $purple; /* Purple */
}
@media (max-width: 768px) {
  .list {
    margin: 1rem -1.5rem 2rem;
  }
}

.list__item {
  display: inline;

  background-color: $white;
  padding: 0 0.1rem;
  word-spacing: 17px;
  letter-spacing: -0.5px;
}
.list__item:hover {
  background-color: $pink;
}
