/* anchor block */
.anchor {

}
.anchor:link {
  color: rgb(81, 55, 151);
}
.anchor:visited {
  color: rgb(81, 55, 151);
  text-decoration: line-through;
}
.anchor:hover {
  color: rgb(239, 238, 238);
}
.anchor:active {
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 3px;
  word-spacing: 8px;
}

span {
  color: #444;
}
