
/* subheading block */

/*.section__heading {
  text-align: center;
  margin: 0 0 1.25rem;

  font-size: 1.75em;
  text-transform: uppercase;

  color: rgb(36, 109, 173);
  text-shadow: rgb(32, 80, 121) -4px 0px 0px;
}*/

.section__subheading {
  margin: 0 -1rem;
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
  transform: rotate(-10deg);

  font-size: 1.5em;
  font-family: 'Bungee Shade', cursive;

  color: rgb(174, 158, 158);
  text-shadow: rgb(181, 183, 189) -21px -5px 0px; /* light colours */

  color: rgb(36, 109, 173); /* blue */
  text-shadow: -21px -5px 0px rgb(82, 136, 95);  /*  green */
  

}