html {
  font-size: 16px;
  font-family: $primary-font;
  border: solid 1.25rem $white;
}

@media (max-width: 48rem) {
  html {
    border: none;
  }

}

body {
  margin: 0;
  background: $black;
}

.wrapper {
  max-width: 52rem;
  margin: 7rem auto 10rem;
}
