// Fonts

@import 'https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade';


$primary-font: 'Bungee', Helvetica, Ariel, monospace, sans-serif;
$accent-font: 'Bungee Shade', Helvetica, Ariel, monospace, sans-serif;

// Colours

$purple: rgb(81, 55, 151);
$pink:rgb(187, 66, 106);
$white: rgb(221, 213, 209);
$green: rgb(82, 136, 95);
$blue: rgb(36, 109, 173);
$errorColour: #f5deb3;